<button class="btn btn-primary" onclick="@DeleteClick()" >Delete me @Index</button>

@code
{
    [Parameter] public EventCallback<int> Deleted { get; set; }

    [Parameter] public int Index { get; set; }

    private async Task DeleteClick()
    {
        Console.WriteLine($"Click {Index}");
        //await Deleted.InvokeAsync(Index);
    }
}